.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px; 
    
    a {
      font-weight: bold;
      color: #2c3e50;
    }

    &__username span {
      margin-right: 15px;
    }
    
    &__login {
      text-decoration: none;
      margin-right: 0.5rem;

      &:hover {
        text-decoration: underline;
      }
    }

    &__logo {
      max-width: 100%;
      width: 200px;

      &-container {
        display: flex;
        align-items: center;
      }
    }

    &__username-icon, &__logout-icon {
      margin-right: 4px;
    }
}